# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
xcuserdata/
*.xcworkspace
!*.xcworkspace/contents.xcworkspacedata
DerivedData/
.build/
*.swiftpm

# Backend specific
Backend/.build/
Backend/.swiftpm/

# Docker
.docker/

# Logs
*.log
